*
{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: chocolate;
}

.inputBox
{
  position: relative;
  width: 450px;
}

.inputBox h2
{
  font-size: 35px;
  color: rgb(196, 27, 27);
}